$blue: #5D91FF;
$blue-darken: #1c75c5;
$red: #FB5C5E;
$red-darken: rgb(247, 66, 69);
$grey: #999;
$grey-young: #F0F0F0;
$black: #2e2f30;
$black-darken: #000202;
$black-young: #434445;
$yellow: #FAC02E;
$yellow-darken: #FD8A3E;
$green: #25c782;
$green-young: #25E788;
$purple: #CE4CC9;
$purple-young: #FD53BF;
$whiteblue: #F7F9FA;

.textBlack {
    color: $black;
}
