@import "./../base/colors";
@import "./../base/prefix";

.btn {
    background-color: $blue;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn--primary {
    padding: 8px 10px;
    @extend .borderRadius-s;
    @extend .easeinoutbtn;
    &:hover {
        background-color: $blue-darken;
        @extend .easeinoutbtn;
    }
    &:active {
        opacity: 0.7; 
    }
}

.btn--grey {
    background: $grey!important;
}

.btn--big {
    @extend .paddingAppear-n;
    width: 100%;
    @extend .borderRadius-s;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    &:hover {
        background-color: $blue-darken;
        @extend .easeinoutbtn;
    }
    &:active {
        opacity: 0.7; 
    }
}
.btn-disabled {
    @extend .btn--primary;
    cursor: not-allowed!important;
    background: $grey!important;
}

.btn--danger {
    background: $red!important;
    &:hover {
        background: $red-darken!important;
    }
}.btn--done {
    background: $green!important;
    &:hover {
        background: $green-darken!important;
    }
}

.btn--close {
    font-size: 1em;
    width: 1.625em;
    height: 1.625em;
    cursor: pointer;
    border: none;
    color: #fff;
    outline: none;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    will-change: transform,opacity;
    box-shadow: 0 0 0 0 hsla(0,0%,100%,0);
    transition: box-shadow .25s ease-in;
    &:hover {
        box-shadow : 0 0 0 .2em hsla(0,0%,100%,.9);
    }
    svg {
        width: 100%;
        height: 100%;
    }
}