#loader {
    @extend .universe;
    z-index: 999;
    background: white;
}

.loader__content {
    height: 100vh;
}

.loaderCore {
    img {
        image-rendering: pixelated;
        animation-direction: normal;
        animation-play-state: running;
        animation-duration: 1s;
        animation: spin 1s infinite;
    }
}