#board {
    flex-grow: 1;
    background: #F7F9FC;
    overflow-y: auto;
}
#boardApp {
    padding-top: 47px;
}
.navbar--extend {
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    z-index: 2;
}

ul.navigationWrap-items--extended {
    line-height: 44px;
    @extend .navigationWrap-items;
    li a {
        font-size: 12px!important;
    }
}
// overview
#boardOverview {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 98px);
    position: relative;
}
.overview__content {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.overviewContent__sidebar {
    width: 320px;
    border-right: 1px solid #eee;
    padding: 20px 30px;
    @extend .universe;
    background: #fff;
    span {
        font-size: 12px;
        color: $grey;
    }
}
.overviewSidebar-desc {
    @extend .marginTop-xs;
    span {
        font-size: 14px;
        color: $grey;
    }
}
.overviewSidebar-title {
    @extend .marginTop-xs;
}
.sidebarTeam {
    @extend .paddingTop-xs;
}
.overviewContent__core {
    left: 320px!important;
    overflow-y: auto;
    position: absolute;
    right: 0;
    @extend .updown;
    @extend .paddingTop-xl;
    @extend .paddingLeft-s;
    @extend .paddingRight-s;
    @extend .paddingBottom-s;
}
.overviewCore-wrap {
    @extend .marginMagic;
    width: 900px;
}
.overviewCore-summary {
    label {
        color: $grey;
    }
    #overviewSummary {
        @extend .marginTop-s;
        text-align: center;
        padding: 20px;
        width: 100%;
        height: 100px;
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
    }
}
.overviewSummary--item {
    display: inline-flex;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 100%;
    @extend .marginMagic;
    p {
        color: $grey;
        font-size: 16px;
    }
    span {
        color: $black-young!important;
        @extend .marginBottom-s;
    }
    &:nth-child(5){
        border-right: 0!important;
    }
    &:nth-child(n+1){
        border-right: 1px solid rgb(234, 234, 234);
    }
}
// files

// custom highlight
.circle--heart {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    border-radius: 50%;
    @extend .marginRight-xs;
    overflow: hidden;
    &::after{
        background-color: rgba(255, 255, 255, 0.274);
        height: 38px;
        width: 38px;
        display: block;
        content: "";
        position: absolute;
        transform-origin: center center 0px;
        border-radius: 50%;
        animation: pulse 2s ease-out infinite;
    }
}