#board {
    flex-grow: 1;
    background: #F7F9FC;
    overflow-y: auto;
}
#boardApp {
    padding-top: 47px;
}
.navbar--extend {
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    z-index: 2;
}

ul.navigationWrap-items--extended {
    line-height: 44px;
    @extend .navigationWrap-items;
    li a {
        font-size: 12px!important;
    }
}
// overview 
#boardOverview {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 98px);
    position: relative;
}
.overview__content {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.overviewContent__sidebar {
    width: 320px;
    border-right: 1px solid #eee;
    padding: 20px 30px;
    @extend .universe;
    background: #fff;
    span {
        font-size: 12px;
        color: $grey;
    }
}
.overviewSidebar-desc {
    @extend .marginTop-xs;
    span {
        font-size: 14px;
        color: $grey;
    }
}
.overviewSidebar-title {
    @extend .marginTop-xs;
}
.sidebarTeam {
    @extend .paddingTop-xs;
}
.overviewContent__core {
    left: 320px!important;
    overflow-y: auto;
    position: absolute;
    right: 0;
    @extend .updown;
    @extend .paddingTop-xl;
    @extend .paddingBottom-s;
}
.overviewCore-wrap {
    @extend .marginMagic;
    width: 900px;
}
.overviewCore-summary {
    label {
        color: $grey;
    }
    #overviewSummary {
        @extend .marginTop-s;
        text-align: center;
        padding: 20px;
        width: 100%;
        height: 100px;
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
    }
}
.overviewSummary--item {
    display: inline-flex;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 100%;
    @extend .marginMagic;
    .overviewSummaryItem__count {
        color: $grey;
        @extend .marginBottom-s;
    }
    .overviewSummaryItem__title{
        color: $black-young!important;
    }
    &:nth-child(5){
        border-right: 0!important;
    }
    &:nth-child(n+1){
        border-right: 1px solid rgb(234, 234, 234);
    }
}
// files 

.boardStorage {
    @extend #boardOverview;
}.boardStorage__sidebar {
    @extend .overviewContent__sidebar;
    width: 270px;
}.boardStorage__content {
    @extend .overviewContent__core;
    left: 270px!important;
    padding-left: 30px;
    padding-right: 45px;
}.boardStorage__content--notif {
    @extend .paddingAppear-n;
    @extend .flexCenter;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    @extend .borderRadius-s;
    background: $blue;
    span {
        @extend .flexCenter;
    }
}.projectUpload{
    padding: 10px;
    @extend .marginTop-s;
    @extend .marginBottom-s;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
    @extend .borderRadius-s;
    border: 1px solid #ddd;
    background: white;
    label.project-upload--label{
        @extend .marginLeft-xs;
        color: $grey;
    }
    .projectUploadWrap {
        display: flex;
    }
    .projectUpload__core , .projectUpload__misc{
        width: 50%;
    }
    .projectUpload__core {
        border-right: 1px solid #ddd;
    }
}

.storageExtend {
    @extend .marginTop-xs;
    display: inline-flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    justify-content: space-between;
    .storageExtend__item{
        width: 32%;
        @extend .paddingAppear-n;
        border: 1px solid #ddd;
        border-radius: 3px;
        background: white;
    }
}
.lastUpdate {
    span {
        font-size: 12px;
        color: $grey;
    }
    .lastUpdate__content{
        width: inherit;
        padding: 5px 10px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 2px -1px rgba(0,0,0,.1);
        @extend .borderRadius-s;
        @extend .marginTop-xs;
        p {
            font-weight: bolder;
        }
    }
    .lastUpdate__footer {
        @extend .paddingTop-xxs;
        @extend .marginTop-xs;
        text-align: right;
        border-top: 1px solid #ddd;
    }
}

.lastIssue {
    @extend .lastUpdate;
    .lastIssue__content{
        @extend .lastUpdate__content;
        border: none;
        box-shadow: none;
    }
    .lastIssue__footer{
        @extend .lastUpdate__footer;
    }
}
.projectProgress {
    span {
        font-size: 12px;
        color: $grey;
    }
    .projectProgress__card {
        width: 200px;
        text-align: center;
        margin-top: 20px;
        @extend .marginMagic;
        @extend .paddingAppear-n;
        @extend .borderRadius-s;
        h2 {
            color: white;
            font-weight: 400;
        }
    }
}
// task
#boardTask {
    width: 100%;
    height: calc(100vh - 98px);
}
.boardTask-main {
    height: 100%;
    display: flex;
    @extend .bg;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0;
    transition: margin .1s ease-in;
}.task-canvas {
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
}.task-canvas__core {
    user-select: none;
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 10px;
    overflow-y: hidden;
    padding: 30px;
    @extend .universe;
}.task-list {
    width: 270px;
    margin: 0 5px;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}.task-list__core {
    background: rgb(226, 228, 230);
    backdrop-filter: blur(10px);
    @extend .borderRadius-s;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}.task-listCore__header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 8px 10px;
    position: relative;
    min-height: 18px;
}.task-listCore__content {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
}.task-card {
    background-color: #fff;
    @extend .borderRadius-s;
    cursor: pointer;
    display: block;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
}.task-card__desc {
    overflow: hidden;
    padding: 6px 6px 2px 8px;
    position: relative;
    z-index: 10;
}.task-card__desc-title {
    clear: both;
    display: block;
    margin: 0 0 4px;
    font-size: 14px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    color: #4d4d4d;
}.ghost {
    opacity: .7;
    background: $blue;
}.fix {
    position: fixed!important;
}.drag {
    transform: scale(1.5);
}.taskNavbar {
    width: 100%;
    padding: 20px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}.taskNavbar--center {
    margin-left: -130px;
    button {
        font-size: 13px;
    }
}.taskNavbar--left h3{
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $black;
}.sidebar-small {
    width: 27px;
    height: 27px;
    display: inline-block;
    border-radius: 4px;
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/images/sidebar.svg');
    cursor: pointer;
    &:hover {
        background-color: white;
    }
}.v--modal-overlay {
    background: rgba(0, 0, 0, 0.1);
}.nice-modal {
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.05), 0 2px 12px 0 rgba(0,0,0,0.02)!important;
    background: white;
    @extend .borderRadius-s;
    padding: 8px;
}.v--modal-overlay[data-modal="task-sidebar"] {
    background: transparent;
}.task-sidebar__content {
    ul li {
        padding: 5px 10px;
        &:hover {
            background: #f0f0f0;
        }
        a {
            text-decoration: none;
            font-weight: 400;
            &:hover {
                color: #2e2f30;
            }
        }
    }
}

// custom upload 
.storageFile {
    cursor: pointer;
    .filepond--root{
        cursor: pointer;
    }
    .filepond--panel-root {
        cursor: pointer;
        background: white;
    }
    .filepond--drop-label label {
        cursor: pointer;
        font-weight: bolder;
    }
}

// custom highlight
.circle--heart {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    border-radius: 50%;
    @extend .marginRight-xs;
    overflow: hidden;
    &::after{
        background-color: rgba(255, 255, 255, 0.274);
        height: 38px;
        width: 38px;
        display: block;
        content: "";
        position: absolute;
        transform-origin: center center 0px;
        border-radius: 50%;
        animation: pulse 2s ease-out infinite;
    }
}