.profile {
    position: relative;
    flex-grow: 1;
    display: flex;
}.profile__sidebar {
    @extend .universe;
    width: 270px;
    border-right: 1px solid #eee;
    padding: 20px 10px;
}.profileSidebar__header {
    @extend .paddingTop-s;
    display: block;
    text-align: center;
    height: 230px;
    .profileSidebarHeader__title {
        text-align: center;
        @extend .marginTop-s;
        h3 {
            font-weight: 500;
            color: $black;
            font-size: 16px;
        }
        p {
            @extend .marginTop-xxs;
            color: $grey;
            font-size: 12px;
        }
    }
}.profile__core {
    left: 270px!important;
    overflow-y: auto;
    @extend .universe;
}.profileCore__header {
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    h4 {
        font-weight: 500;
        color: $grey;
    }
}.profileSidebar__content {
    padding: 10px;
    .profileSidebarContent__title {
        color: $grey;
        @extend .paddingBottom-s;
    }
    p {
        color: $grey;
    }
}
p.emailtitle {
    color: $blue!important;
}.profileCore__content {
    padding: 40px;
    @extend .marginMagic;
    color: #575858;
    font-weight: 400;
    overflow-y: auto;
}.preference {
    h2 {
        padding-bottom: 0.75em;
        margin-bottom: 0.75em;
        border-bottom: 1px solid #e8e9ea;
        color: $green;
        font-weight: 400;
    }.preference__general {
        @extend .paddingBottom-xl;
    }
    .preference__privacy {
        h2 {
            color: $red!important;
        }
    }
}.preference__form {
    border: none;
    @extend .marginTop-xs;
    @extend .marginBottom-xs;
    label {
        display:inline-block;
        position:relative;
        width: 120px;
        font-weight: 500;
    }
    input {
        padding: 7px 8px;
        border: 1px solid rgba(0,0,0,0);
        @extend .borderRadius-s;
        width: 300px;
        font-size: 14px;
        &:focus {
            outline: none;
            color: #575858;
            padding: 7px 8px;
            // border: 1px solid rgba(0,0,0,.15);
            border: 1px solid $blue;
        }
    }
}.preference__submit {
    text-align: right;
    button {
        font-size: 14px;
    }
}.profileSidebarContent__core {
    text-align: center;
    img {
        margin-left: -30px;
        @extend .marginBottom-s;
        width: 120px;
    }
}.profileSidebarContent__core--alter {
    @extend .profileSidebarContent__core;
    text-align: left!important;
    overflow-y: auto;
    max-height: 200px;
}.projectSidebar--item {
    padding: 10px 15px;
    cursor: pointer;
    background: $grey-alter;
    @extend .borderRadius-s;
    @extend .marginTop-xs;
    @extend .marginRight-xs;
    @extend .easeinoutanimate;
    &:hover {
        @extend .easeinoutanimate;
        box-shadow: 1px 9px 18px 1px rgba(60,60,60,.05)!important;
    }
    h4 {
        font-weight: 400;
        color: $black-young;
        @extend .marginBottom-xxs;
    }
    p {
        font-size: 12px;
    }
}